{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h4 class="mb-3">سبد خرید شما</h4>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover text-center align-middle">
        <thead class="thead-dark">
          <tr>
            <th>تصویر</th>
            <th>محصول</th>
            <th>قیمت واحد</th>
            <th>تعداد</th>
            <th>مجموع</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            <tr>
              <td>
                <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" style="width: 60px; height: auto;" />
              </td>
              <td>{{ item.product }}</td>
              <td>{{ item.product.price|floatformat:0 }} تومان</td>
              <td>
                <form method="post" action="">
                  {% csrf_token %}
                  <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" style="width: 60px;" />
                  <button type="submit" class="btn btn-sm btn-outline-primary">بروزرسانی</button>
                </form>
              </td>
              <td>{{ item.total_price|floatformat:0 }} تومان</td>
              <td>
                <a class="btn btn-sm btn-danger" href= {% url 'orders:cart_remove' item.product.id %}>حذف</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="6">سبد خرید شما خالی است.</td>
            </tr>
          {% endfor %}
        </tbody>
        {% if cart %}
          <tfoot>
            <tr class="table-success fw-bold">
              <td colspan="4">جمع کل</td>
              <td >{{ cart.get_total_price|floatformat:0 }} تومان</td>
              <td > </td>
            </tr>
          </tfoot>
        {% endif %}
      </table>
    </div>
    <a class="btn btn-primary" href="{% url 'orders:orders_create' %}">ثبت سفارش</a>
  </div>
{% endblock %}
