<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- بخش سمت چپ: لوگو + لینک‌ها -->
    <a class="navbar-brand btn btn-warning text-dark fw-bold me-3" href="{% url 'home:home' %}">لوگو</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home:home' %}">خانه</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">تماس با ما</a>
      </li>
    </ul>

    <!-- دکمه‌ی باز و بسته شدن Navbar (برای موبایل) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- بخش سمت راست: لینک‌های ورود و خروج -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:register' %}">ثبت نام</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ورود</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">خروج</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
